<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
   <system.webServer>
     <httpErrors errorMode="Custom" defaultResponseMode="File">
     <clear/>
     <error statusCode="500" path="404.html"/>
     <error statusCode="404" path="404.html"/>
  </httpErrors>
  </system.webServer>
</configuration>